body {
    
    ::-webkit-scrollbar {
      display: none;
    }
    
   
    scrollbar-width: none;
    
  
    -ms-overflow-style: none;
  }
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --overflow: hidden;
  }
  
  ion-content.center-content::part(scroll) {
    display: block; 
    overflow-y: hidden;
  }

  ion-card {
    width: 100%;
    max-width: 400px; 
  }
  
  @media (min-width: 768px) {
    ion-card {
      width: 50%;
    }
  }

ion-header {
    padding-top: 10px;
}

ion-item, ion-input{
  --border-color: transparent;
  --box-shadow: none; 
  --overflow: hidden;
}

.custom-border-button{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}  
  ion-button:hover {
    --background: #31d1e0; /* Cambia el color de fondo del botón en hover */
  }
  /* resetpass.page.scss */

  h2 {
    font-size: 15px;
  font-style: italic;
  
  }