<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Busca algún libro</ion-title>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-item>
      <ion-input placeholder="Ingresa un título" [(ngModel)]="searchQuery"></ion-input>
      <ion-button (click)="searchBooks()">Buscar</ion-button>
    </ion-item>

    <!-- Indicador de carga -->
    <ion-spinner *ngIf="loading"></ion-spinner>

    <!-- Resultados de la búsqueda -->
    <ion-list>
      <ion-item *ngFor="let book of books">
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author_name ? book.author_name.join(', ') : 'Autor desconocido' }}</p>
          <p>{{ book.first_publish_year || 'Año desconocido' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
