.label {


    padding-right:40px;
}

.center-content{

    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    height: 100%;
}