
<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

    <ion-title>Agregar Progreso del Libro</ion-title>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="bookProgressForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Título del Libro</ion-label>
      <ion-input formControlName="bookTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Páginas Totales</ion-label>
      <ion-input formControlName="totalPages" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Páginas Leídas</ion-label>
      <ion-input formControlName="pagesRead" type="number"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Guardar Progreso</ion-button>
  </form>
  
  <ion-card *ngIf="percentage !== null">
    <ion-card-header>
      <ion-card-title>{{ bookTitle }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>