<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus libros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="nombreUsuario">
    <h2>Hola {{ nombreUsuario }}, es bueno verte</h2>

    <!-- Botón para agregar libro -->
    <div class="center-button">
      <ion-button [routerLink]="['/bookprogress']" fill="solid" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>

    <!-- Listado de libros -->
    <div class="bars">
      <ion-card *ngIf="books.length > 0">
        <ion-card-header>
          <div *ngFor="let book of books">
            <h3>Libro: {{ book.bookTitle }}</h3>
            <p>Progreso: {{ book.percentage | number: '1.0-2' }}%</p>
            
            <!-- Barra de progreso -->
            <div class="progress-bar">
              <div class="progress" [style.width]="book.percentage + '%'"></div>
            </div>

            <!-- Opción de marcar como leído -->
            <ion-item>
              <ion-label>Leído</ion-label>
              <ion-checkbox [(ngModel)]="book.read" (ionChange)="toggleRead(book)"></ion-checkbox>
            </ion-item>

            <!-- Botón para editar el progreso -->
            <ion-button fill="outline" color="secondary" (click)="editarProgreso(book)">
              Editar
            </ion-button>

            <!-- Botón para eliminar el libro -->
            <ion-button fill="outline" color="danger" (click)="eliminarLibro(book.bookTitle)">
              Eliminar
            </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </div>

    <!-- Mensaje si no hay libros -->
    <div *ngIf="books.length === 0">
      <p>No hay libros registrados aún.</p>
    </div>
  </div>
</ion-content>
