<ion-content [fullscreen]="true" class="ion-padding ios-look">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus libros</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="ios-fab">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon> 
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button color="light" class="ios-fab-button" [routerLink]="['/login']" >
        <ion-icon name="log-out-outline"></ion-icon> 
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="nombreUsuario">
    <h2 class="ios-h2">Hola {{ nombreUsuario }}, es bueno verte</h2>

  
    <div class="center-button">
      <ion-button [routerLink]="['/bookprogress']" fill="solid" color="primary" shape="round" class="ios-button">
        <ion-icon name="add-outline" class="combined-icon"></ion-icon>
        <ion-icon name="book-outline" class="combined-icon"></ion-icon>
     
      </ion-button>
    </div>

    <div class="bars">
      <ion-card *ngIf="books.length > 0" class="ios-card">
        <ion-card-header>
          <div *ngFor="let book of books">
            <h2 class="ios-h3">{{ book.bookTitle }}</h2>
            <p class="ios-p">Progreso: {{ book.percentage | number: '1.0-2' }}%</p>
            
      
            <div class="progress-bar">
              <div class="progress" [style.width]="book.percentage + '%'"></div>
            </div>

  
            <ion-item class="checkbox">
              <ion-label>Leído</ion-label>
              <ion-checkbox [(ngModel)]="book.read" (ionChange)="toggleRead(book)"></ion-checkbox>
            </ion-item>

            <ion-button fill="outline" color="secondary" (click)="editarProgreso(book)" class="ios-button">
              Editar
            </ion-button>

         
            <ion-button fill="outline" color="danger" (click)="eliminarLibro(book.bookTitle)" class="ios-button">
              Eliminar
            </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </div>

    <!-- libros no registrados -->
    <div *ngIf="books.length === 0">
      <p class="ios-p">No hay libros registrados aún.</p>
    </div>
  </div>
</ion-content>
